body{
	color:#40514E;
	margin:0;
	text-align:center;
	font-family:'Merriweather Sans',sans-serif;
}

h1{
    color:white;
	font-family:'Allura',cursive;
	font-size:7.25rem;
	margin-top:50px;
	
}

h2{
	color:white;
	font-family:'Montserrat',sans-serif;
	font-size:1.875rem;
	font-weight:normal;
	padding-bottom:10px;
}

h3{
	color:#11999E;
	font-family:'Montserrat',sans-serif;;
}

hr{
	border-style:none;
	border-top-style:dotted;
	border-width:5px;
	width:6%;
	margin:100px auto;
}

p{
	line-height:2;
}

a{
	color:white;
	font-family:'Montserrat';
	margin:10px 20px;
	text-decoration:none;
}

a:hover{
	color:#11999E;
}

.header{
	background-color:#66BFBF;
	position:relative;
	padding-top:100px;
}

.bottom-container{
	background-color:#66BFBF;
	padding:30px 0 20px;
	margin:100px 0 0;
}

.middle-container{
	margin:;100px 0;
}

.top-cloud{
	position:absolute;
	right:300px;
	top:40px;
}

.bottom-cloud{
	position:absolute;
	left:250px
	bottom:300px;
}


.intro{
	width:30%;
	margin:auto;
}

.hello{
	color:#66BFBF;
}

.contact-message{
	width:40%;
	margin:40px auto 60px;
}

.skill-row{
	width:50%;
	margin:100px auto 100px auto;
	text-align:left;
}

.Computer{
	width:25%;
	float:left;
	margin-right:30px;
}

.graphic{
	width:25%;
	float:right;
	margin-left:30px;
}

.massage{
	width:25%;
	float:left;
	margin-right:30px;
}

.guitar{
	width:25%;
	float:right;
	margin-left:30px;
}

.me{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:20%;
	
}

.btn {
  background: #2696e0;
  background-image: -webkit-linear-gradient(top, #2696e0, #21658f);
  background-image: -moz-linear-gradient(top, #2696e0, #21658f);
  background-image: -ms-linear-gradient(top, #2696e0, #21658f);
  background-image: -o-linear-gradient(top, #2696e0, #21658f);
  background-image: linear-gradient(to bottom, #2696e0, #21658f);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #47b2f5;
  background-image: -webkit-linear-gradient(top, #47b2f5, #2190db);
  background-image: -moz-linear-gradient(top, #47b2f5, #2190db);
  background-image: -ms-linear-gradient(top, #47b2f5, #2190db);
  background-image: -o-linear-gradient(top, #47b2f5, #2190db);
  background-image: linear-gradient(to bottom, #47b2f5, #2190db);
  text-decoration: none;
}

.copywrite{
	color:white;
	font-size:0.75rem;
	padding:20px 0;
}



